.container {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  padding: 28px;
  color: white;
  font-family: cursive;
  /* background: linear-gradient(to right, #0f0c29, #302b63, #24243e); */
  border-radius: 15px;
  /* box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.30); */
}
body{
background-image: url("https://images.unsplash.com/photo-1552845108-5f775a2ccb9b?q=80&w=2671&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
background-size: cover;


}
input[type="text"], button {
  margin-top: 10px;
  font-family: cursive;
  padding: 12px;
  background-color: white;
  border-radius: 0 10px 0 10px;
  opacity: 0.6;
}

button {
  cursor: pointer;
  border-radius: 5px;
  font-family: cursive;
  padding:12px;
}

#weatherInfo {
  margin-top: 20px;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
  color: #000000;
  font-size: 20px;
}

#heading-part{
  font-family: Perpetua;
  font-size: 25px;
}
#temperature{
  font-family: Eras Bold ITC;
  font-size: 55px;
  text-shadow: 2px 2px 5px black;
  font-weight: 800;
}
#description{
  font-size: 20px;
  margin-top: 20px;
}
.hum-wind{
  background-color: white;
  opacity: 0.5;
  color: black;
  padding:20px;
  margin-top: 20px;
  border-radius: 20px;
}